* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.globalText {
  padding: 1em;
  color: blueviolet;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .globalText {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  /* from {
    transform: rotate3d(0, 0, 0, 0deg);
    box-shadow: none;
  }
  
  to {
    transform: rotate3d(0, 10, 10, 3600deg);
    box-shadow: 0 0 5px 100px black;
  }
 */
}